<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RAMS</title>
</head>
<body>

<h1>RAMS - Registration and Management System</h1>
<p>
    Go to <a href="/uber"><%= @event_name %> <%= @year %> RAMS</a>
</p>

</body>
</html>